<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Binary Search</title>
    <link rel="stylesheet" href="https://anandman03.github.io/sorting-and-searching-visualizer/public/css/style.css">
    <link rel="stylesheet" href="https://anandman03.github.io/sorting-and-searching-visualizer/public/css/navbar.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>

    <!-- Navbar -->
    <script src="https://anandman03.github.io/sorting-and-searching-visualizer/public/partials/header.js"></script>

    <!-- Head Section -->
    <header class="header">
        <h1>Binary Search</h1>
    </header>

    <!-- Details Section -->
    <div class="table">
        <div class="content">
            <p>
                Binary Search searches a sorted array by repeatedly dividing the search interval in half. Begin with an 
                interval covering the whole array. If the value of the search key is less than the item 
                in the middle of the interval, narrow the interval to the lower half. Otherwise narrow it 
                to the upper half. Repeatedly check until the value is found or the interval is empty.
            </p>
        </div>
        <div class="details">
            <p><b> Worst-Case Time Complexity </b> : O(Log n)</p>
            <p><b> Worst-Case Space Complexity </b> : O(1)</p>
        </div>
    </div>

    <!-- controls for generation and finding -->
    <script src="https://anandman03.github.io/sorting-and-searching-visualizer/public/js/controls.js"></script>

    <!-- Main Body Section -->
    <div class="conatiner">
        <div class="array"></div>
        <div class="indexes"></div>
    </div>

    <!-- footer -->
    <script type="text/javascript" src="https://anandman03.github.io/sorting-and-searching-visualizer/public/partials/footer.js"></script>

    <!-- script files -->
    <script src="https://anandman03.github.io/sorting-and-searching-visualizer/public/js/binary-search.js"></script>
    <script src="https://anandman03.github.io/sorting-and-searching-visualizer/public/js/random-array-generator.js"></script>
</body>
</html>