html {
    height: 100%;
}
body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    color: #777;
    font-size: 42px;
    position: relative;
    box-sizing: border-box;
    font-family: 'Lexend Deca', sans-serif;
}

/* Main Content */
.container {
    left: 20px;
    margin: 0 auto;
}

.indexes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    margin-top: 1.5%;
    color: #F96767;
    font-size: 30px;
    flex: 100%;
}
  
h1 {
    display: inline;
    line-height: 1em;
    color: #333;
}

/* Complexity div styles */
.table {
    font-size: 20px;
    margin: 0 auto;
    margin-left: 5px;
}

.table .content {
    font-size: 16px;
    margin: 0 auto;
}

/* Controls */
.controls {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
}
.generator, .find-element, .speed {
    text-align: center;
    flex: 100%;
}

input, .btn {
    border: 0;
    line-height: 3;
    font-weight: bolder;
}

.speed {
    margin-top: 1%;
}

span {
    font-size: 13px;
}

input {
    width: 25%;
    color: #222222;
    font-size: medium;
    text-align: center;
    border-bottom: 2px solid #A0ECD0;
}

.btn {
    color: #ffffff;
    cursor: pointer;
    border-radius: 15px;
    background-color: #FF4136;
}
/* Array div inside conatiner class */
.array {
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    margin-top: 1.5%;
    margin-bottom: 2%;
    position: relative;
    justify-content: center;
}

/* Each individual array element */
.cell {
    margin: 5px;
    padding: 10px;
    background-color: #eee;
    color: #222;
    border: 5px solid #eee;
    border-radius: 5px;
    position: relative;
    transition: all .4s ease-in;
}

.cell.done {
    background-color: #9CEC5B;
    border-color: #9CEC5B;
    color: white;
    transition: all .4s ease-out;
}

.cell.visited {
    border-color: #6184D8;
    background-color: #6184D8;
    color: white;
    transition: .5s;
}

.cell.current {
    border-color: #50C5B7;
    background-color: #50C5B7;
    color: white;
    transition: all .4s ease-out;
}

/* partials */
footer {
    bottom: 0;
    width: 100%;
    display: block;
    font-size: 15px;
    position: absolute;
    text-align: center;
}

.background > h3, h5 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    color: #ffffff;
    position: relative;
    text-align: center;
    justify-content: center;
    font-family: 'Oleo Script';
    font-size: 45px;
}

.background > h5 {
    font-size: 35px;
}

.body {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('https://github.com/anandman03/sorting-and-searching-visualizer/blob/master/assets/img-1.jpg');
}